<footer class="footer">
    <section>
        <div>
            <p class="text-white dark:text-gray-400">© 2012-2025 LOLtracker is not endorsed by Riot Games and does not
                reflect the views or opinions of Riot Games or anyone officially involved in producing or managing
                League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot
                Games, Inc. League of Legends © Riot Games, Inc.</p>
        </div>
        <nav><a target="_blank" rel="noreferrer">
                <img alt="instagram account" loading="lazy" width="24" height="24" decoding="async" data-nimg="1"
                    src="https://s-lol-web.op.gg/app-router/assets/images/common/icon-sns-instagram.svg?image=q_auto:good,f_webp,w_48&amp;b=FMWPa8UqkeejU3qj_bl1P"
                    style="color: transparent;"></a><a target="_blank" rel="noreferrer"><img alt="youtube account"
                    loading="lazy" width="24" height="24" decoding="async" data-nimg="1"
                    src="https://s-lol-web.op.gg/app-router/assets/images/common/icon-sns-youtube.svg?image=q_auto:good,f_webp,w_48&amp;b=FMWPa8UqkeejU3qj_bl1P"
                    style="color: transparent;"></a><a target="_blank" rel="noreferrer"><img alt="x account"
                    loading="lazy" width="24" height="24" decoding="async" data-nimg="1"
                    src="https://s-lol-web.op.gg/app-router/assets/images/common/icon-sns-x.svg?image=q_auto:good,f_webp,w_48&amp;b=FMWPa8UqkeejU3qj_bl1P"
                    style="color: transparent;"></a><a target="_blank" rel="noreferrer"><img alt="facebook account"
                    loading="lazy" width="24" height="24" decoding="async" data-nimg="1"
                    src="https://s-lol-web.op.gg/app-router/assets/images/common/icon-sns-facebook.svg?image=q_auto:good,f_webp,w_48&amp;b=FMWPa8UqkeejU3qj_bl1P"
                    style="color: transparent;"></a><a target="_blank" rel="noreferrer"><img alt="overwolf"
                    loading="lazy" width="24" height="24" decoding="async" data-nimg="1"
                    src="https://s-lol-web.op.gg/app-router/assets/images/common/icon-sns-overwolf.svg?image=q_auto:good,f_webp,w_48&amp;b=FMWPa8UqkeejU3qj_bl1P"
                    style="color: transparent;"></a></nav>
    </section>
</footer>