.rank.iron { color: #51484F; }
.rank.bronze { color: #8C523A; }
.rank.silver { color: #A0A0A0; }
.rank.gold { color: #E3B341; }
.rank.platinum { color: #4AAE9B; }
.rank.emerald { color: #1f703f; }
.rank.diamond { color: #5A50C8; }
.rank.master { color: #AD3ED8; }
.rank.grandmaster { color: #E43D30; }
.rank.challenger { color: #0096FF; }


.listGame{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.infoPlayer {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.Container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2% 0;
  }
.icon{
    padding-top: 10px;
}

.error{
    color: red;;
    margin: 5px 0;
    text-align: center;
    width:100%;
    margin-top: 20px
 }
 
  