<p>{{ summonerName }}#{{ tagLine }}</p>
@if(account!==null && region !== ''){
<div class="infoPlayer">
    <img [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/profileicon/' + account.profileIconId + '.png'"
        alt="Profile Icon" width="90" height="90">
    <div class="listGame">
        @if (account.rank) {
        @for (queue of account.rank; track $index) {
        <div class="rank {{queue.tier | lowercase}}">{{queue.tier}} {{queue.rank}} ({{queue.queueType}})</div> }
        }
    </div>
</div>
<app-game-list [puuId]="account.puuid" [region]="region"></app-game-list>
}