.rank.iron { color: #51484F; }
.rank.bronze { color: #8C523A; }
.rank.silver { color: #A0A0A0; }
.rank.gold { color: #E3B341; }
.rank.platinum { color: #4AAE9B; }
.rank.emerald { color: #1f703f; }
.rank.diamond { color: #5A50C8; }
.rank.master { color: #AD3ED8; }
.rank.grandmaster { color: #E43D30; }
.rank.challenger { color: #0096FF; }