@if(game!==null){
<div id="gameMode">
    Mode de jeu : {{gameMode}}
</div>
<div class="team-container" [class.arena]="game.gameMode === 'CHERRY'">
    @for(teamId of (getTeam()); track $index){
    <div class="team">
        @for(participant of getListPlayerByTeamId(teamId) ; track $index){
        <div class="player-card">
            @if(game.gameMode==='CHERRY'){
            Classement : {{participant.subteamPlacement}}
            }
            @else{
                @if(participant.win){
                    Victoire
                }
                @else {
                    Défaite
                }
            }
            <div>Champion : {{participant.championName}}</div>
            <img class="clickable"
                [src]="`https://ddragon.leagueoflegends.com/cdn/${gameVersion}/img/champion/${participant.championName}.png`"
                alt="Champion Icon" width="90px" height="90px" (click)="selectParticipant(participant)">
            <div class="items-container">
                <app-item item={{participant.item0}}></app-item>
                <app-item item={{participant.item1}}></app-item>
                <app-item item={{participant.item2}}></app-item>
                <app-item item={{participant.item3}}></app-item>
                <app-item item={{participant.item4}}></app-item>
                <app-item item={{participant.item5}}></app-item>
                <app-item item={{participant.item6}}></app-item>
            </div>
            <div>
                K/D/A : 
                <span class="color-green">{{participant.kills}}</span> /
                <span class="color-red"> {{participant.deaths}}</span> /
                <span class="color-yellow"> {{participant.assists}}</span>
            </div>
            <div class="clickable"
                [routerLink]="['/summoner',region,participant.account.gameName+'#'+participant.account.tagLine]">
                Joueur : {{participant.account.gameName}}
            </div>

        </div>

        }
    </div>
    }
</div>

<div>
    @if (selectedParticipant!==null) {
    <img [src]="`https://ddragon.leagueoflegends.com/cdn/${gameVersion}/img/champion/${selectedParticipant.championName}.png`"
        alt="Champion Icon" width="90px" height="90px">
    <div>
        {{selectedParticipant.kills}}/{{selectedParticipant.deaths}}/{{selectedParticipant.assists}}
    </div>

    @if (selectedParticipant.doubleKills>0) {
    <div class="kill-container">
        double kill:{{selectedParticipant.doubleKills}}
    </div>
    }
    @if (selectedParticipant.tripleKills>0) {
    <div class="kill-container">
        triple kill:{{selectedParticipant.tripleKills}}
    </div>
    }
    @if (selectedParticipant.quadraKills>0) {
    <div class="kill-container">
        quadra kill:{{selectedParticipant.quadraKills}}
    </div>
    }
    @if (selectedParticipant.pentaKills>0) {
    <div class="kill-container">
        penta kill:{{selectedParticipant.pentaKills}}
    </div>
    }
    <div class="bar-chart">
        @if(game!==null){
        @for(teamId of (getTeam()); track $index){
        @for(participant of getListPlayerByTeamId(teamId) ; track $index){
        @if (selectParticipant.name==participant.account.gameName) {
        <div class="bar"><span>HTML (80%)</span></div>
        }
        }
        }
        }
    </div>
    }

</div>
}