.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Prend au minimum toute la hauteur de la fenêtre */
  }
  
  .content {
    flex: 1; /* Prend tout l'espace disponible */
  }