.research {
   background-color: #F6F5F1;
   font-size: 1.25rem;
   margin-top: 5%;
}

.horizontal {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
}

.horizontal > input {
   border: 1px solid #BDBCBA;
   height: 26px;
}

.horizontal > button {
   border-radius: 0 5px 5px 0;
   border: 1px solid #BDBCBA;
   background-color: #B49EF1;
   color: #111114;
   cursor: pointer;
   height: 30px;
}

.horizontal > select {
   border-radius: 5px 0 0 5px;
   border: 1px solid #BDBCBA;
   background-color: #F6F5F1;
   color: #495057;
   height: 30px;
}