<form class="horizontal">
    <select id="region" class="research" name="region" required>
        <option value="" disabled selected>Server region</option>
        <option value="BR1">BR</option>
        <option value="EUW1">EUW</option>
        <option value="EUN1">EUN</option>
        <option value="JP1">JP</option>
        <option value="KR">KR</option>
        <option value="LA1">LA1</option>
        <option value="LA2">LA2</option>
        <option value="NA1">NA</option>
        <option value="OC1">OC</option>
        <option value="TR1">TR</option>
        <option value="RU">RU</option>
        <option value="PH2">PH</option>
        <option value="SG2">LA1</option>
        <option value="TH2">LA1</option>
        <option value="TW2">LA1</option>
        <option value="VN2">LA1</option>
    </select>
        <input class="research" type="text" placeholder="Summoner's name">
    <button class="research"> rechercher</button>
    </form>
    