.gameList {
  display: flex;
  flex-direction: column; /* ou column pour une liste verticale */
  gap: 16px;
  flex-wrap: wrap; /* optionnel, pour retour à la ligne */
  }
  
  .game {
    width: 100%;
  }
  
  .gameListContainer {
    height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center; 
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2% 0;
  }
  